<#include "/mag/gaia/staff/views/layout/staff_layout.ftl.html" />
<#macro title></#macro>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title><#if title?exists><@title/></#if></title>
    <script>
        let jsonStr =null;
        $(document).ready(function(){
            $.ajax({
                    url:"/getCategoryList",
                    type:"POST",
                    data:{
                    },
                    success:function (data) {
                        console.log(data);
                        console.log(1);
                        jsonStr=data;
                        let bigCategoryName =document.getElementById("bigCategory");
                        for(let index in jsonStr.bigCategories){
                            let option = document.createElement("option");
                            option.innerHTML=jsonStr.bigCategories[index].bigCategoryName;
                            option.value=jsonStr.bigCategories[index].bigCategoryName;
                            bigCategoryName.appendChild(option);
                        }
                    },
                    error:function () {
                        console.log("failed");
                        console.log(jsonStr1);

                    }
                });
        });

        function showSmallCategory(options) {
            let selectedIndex=options.selectedIndex;
            if(selectedIndex>0){
                let smallCategories=jsonStr.bigCategories[selectedIndex-1].smallCategories;
                let smallCategoryOptions=document.getElementById("smallCategory");
                smallCategoryOptions.innerHTML="<option>请选择小类</option>"
                for (let index in smallCategories){
                    let option =document.createElement("option");
                    option.innerHTML=smallCategories[index].smallCategoryName;
                    option.value=smallCategories[index].smallCategoryName;
                    smallCategoryOptions.appendChild(option);
                }
            }
        }
    </script>

</head>
<#macro body>
<div class="col-sm-6 col-sm-offset-2">
    <div class="card">
        <div class="card-header">
            editCourse
        </div>
        <div class="card-body">
            <#include "/mag/gaia/common/views/include/simple_notice.ftl.html" />
            <hr/>
            <form method="post" enctype="multipart/form-data"  action="/staff/editCourse/${course.couId}/${session.id}">
                <p> 课程名&nbsp&nbsp&nbsp&nbsp <input type="text" name="couName" value="${course.couName}" class="form-control"></p>
                <p> 课程简介&nbsp<input type="text" name="couDescription" value="${course.couDescription}" class="form-control"></p>
                <p>视频简介&nbsp<input type="file" name="upFileVideo"  class="form-group"></p>
                <p>图片封面&nbsp<input type="file" name="upFilePic" class="form-group"></p>
                <p> <select id="bigCategory" name="bigCategory" class="form-control" onchange="showSmallCategory(this);">
                    <option value="">请选择大类</option>
                     </select>
                    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                    <select id="smallCategory" class="form-control" name="smallCategory">
                    <option value="">请选择小类</option>
                    </select></p>

                <p align="left">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                    <input type="submit" value="submit"  class="btn btn-outline-primary">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                    <input type="reset" value="reset"  class="btn btn-outline-primary"></p>
            </form>
        </div>
    </div>
</div>
</#macro>