<#include "/mag/gaia/admin/views/layout/admin_layout.ftl.html" />
<#macro title>AdminDashbard</#macro>

<#macro body>
<div class="col-sm-6 col-sm-offset-2">
    <div class="card">
        <div class="card-header">
            AdminDashboard
        </div>
        <div class="card-body">
            <#include "/mag/gaia/common/views/include/simple_notice.ftl.html" />
            <hr />
            <a href="/admin/addBig">addBig</a>
            <table class="table table-sm">
            <tr align="center">
                <th>bigCategoryName</th>
                <th>view more</th>
                <th>delete</th>
                <th>update</th>
            </tr>
                <#list page.items as big>
                <tr align="center">
                    <td>${big.bigCategoryName}</td>
                    <td><a href="/admin/viewSmall/${big.id}">view smallCategory</a> </td>
                    <td><a href="?bigId=${big.id}"></a>delete</td>
                    <td><a href="/staff/update/${big.id}">update</a></td>
                </tr>
                </#list>
            </table>
            <hr />
            <#include "/mag/gaia/common/views/include/simple_pager.ftl.html" />
        </div>
    </div>
</div>
</#macro>